<!--component html goes here -->
<div class="row">

    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>GROUPS</span>
            </div>
            <div class="card-block widget-body">
                <form [formGroup]="groupFormGroup" class="form">

                    <div class="form-group">
                        <label for="grp_name">Name</label>
                        <input auto-complete [source]="groups" value-property-name="name" display-property-name="name" [list-formatter]="autocompleListFormatterName"
                            [formControl]="grp_name" class="form-control checking-field" type="text" id="grp_name">
                    </div>
                    <div class="form-group">
                        <label for="grp_descrip">Description</label>
                        <input auto-complete [source]="groups" value-property-name="description" display-property-name="description" [list-formatter]="autocompleListFormatterDescrip"
                            [formControl]="grp_descrip" class="form-control checking-field" type="text" id="grp_descrip">
                    </div>
                    <div class="form-group">
                        <label for="grp_date_started">Date Started</label>
                        <input [formControl]="grp_date_started" class="form-control checking-field" type="date" id="grp_date_started">
                    </div>
                    <div class="form-group">
                        <button [disabled]="!groupFormGroup.valid" (click)="onGroupSubmit(groupFormGroup.value)" class="btn btn-main" type="submit">Save</button>
                        <button [disabled]="!groupFormGroup.valid" (click)="onGroupUpdateSubmit(groupFormGroup.value)" class="btn">Update</button>
                        <button class="btn" (click)="onGroupDelete(groupFormGroup.value)">Delete</button>
                        <button type="button" class="btn">View All</button>
                    </div>
                </form>
                <div>
                    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
                        [trackByProp]="'updated'" [rows]="groups" [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)"
                        (select)="'onSelectGroupTable($event)'">
                        <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
                        <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
                    </ngx-datatable>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>DEPARTMENTS</span>
            </div>
            <div class="card-block widget-body">
                <form class="form" [formGroup]="deptFormGroup">

                    <div class="form-group">
                        <label for="dept_name">Name</label>
                        <input auto-complete [source]="departments" value-property-name="name" display-property-name="name" [list-formatter]="autocompleListFormatterName"
                            [formControl]="dept_name" class="form-control checking-field" type="text" id="dept_name">
                    </div>
                    <div class="form-group">
                        <label for="dept_description">Description</label>
                        <input auto-complete [source]="departments" value-property-name="description" display-property-name="description" [list-formatter]="autocompleListFormatterDescrip"
                            [formControl]="dept_description" class="form-control checking-field" type="text" id="dept_description">
                    </div>
                    <div class="form-group">
                        <label for="dept_date_started">Date Started</label>
                        <input [formControl]="dept_date_started" class="form-control checking-field" type="date" id="grp_date_started">
                    </div>

                    <div class="form-group">
                        <button [disabled]="!deptFormGroup.valid" (click)="onDeptSubmit(deptFormGroup.value)" class="btn btn-main" type="submit">Save</button>
                        <button [disabled]="!deptFormGroup.valid" (click)="onDeptUpdateSubmit(deptFormGroup.value)" class="btn">Update</button>
                        <button [disabled]="!deptFormGroup.valid" class="btn">Delete</button>
                        <button type="button" class="btn">View All</button>
                    </div>
                </form>
                <div>
                    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
                        [trackByProp]="'updated'" [rows]="departments">
                        <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
                        <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>

</div>